[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mediapipe = "0.10.18"
opencv-python = "*"
pandas = "*"
scikit-learn = "1.6.1"
keras = "*"
tensorflow = "*"
flask-cors = "*"
gunicorn = "*"
flask-talisman = "*"

[requires]
python_version = "3.9"