[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mediapipe = "==0.10.18"
opencv-python-headless = "*"
pandas = "*"
flask-cors = "*"

[requires]
python_version = "3.9"